.fgpWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.fgpHeading {
  font-size: 2em;
  font-weight: 530;
  margin-bottom: -0.5em;
}

.fgpMsg {
  color: var(--secondary-black);
  margin-bottom: 1em;
}

.fgpImg {
  width: 16em;
}

.fgpBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
