.loginBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;

  background-image: url("/images/loginbg.svg");
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: right 50%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

  height: 90vh;
  width: 40vw;
  max-width: 725px;
  min-width: 500px;

  margin-left: 5vh;
  /* margin-top: 5vh; */
  padding: 5vh 15vh 5vh 8vh;
  border-radius: var(--border-radius);

  background-color: var(--card-colour);
}

.logoWrapper {
  margin-bottom: 11vh;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 0.3vh;

  width: 100%;
  margin-bottom: 2vh;
}

.logo {
  height: 1.475em;
}

.loginButton {
  width: 100%;
  padding: 1.2em;
  border: none;
  border-radius: 0.9em;
  background-color: #000;
  color: white;
  font-size: 1.1em;
  cursor: pointer;

  font-weight: 530;

  margin-top: 3.8vh;
  margin-bottom: 0.5em;
}

.loginButton:hover {
  background-color: #333;
}

.loginSubheading {
  font-size: 1.043em;
  color: var(--secondary-black);
}

.inputLabel {
  font-weight: 530;
  margin-bottom: 0.2em;
}

.inputBox {
  width: 100%;
  padding: 1em 1.2em;
  border: 1px solid #d8d8d8;
  border-radius: 0.5625em;
  font-size: 1em;
}

.signupWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.043em;
  font-weight: 450;
  color: var(--secondary-black);
}

.signupLink {
  color: var(--primary-black);
  cursor: pointer;
  font-weight: 530;
}
.signupLink:hover {
  text-decoration: underline;
}

.forgotPassword {
  font-size: 1.043em;
  color: var(--secondary-black);
  cursor: pointer;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5vh;
}
