.projectsBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.pageHeading {
  font-size: 2.2em;
  font-weight: 530;
  margin-bottom: 0.2em;
}

.addProjectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 2em;
  background-color: var(--primary-black);
  color: #fff;
  font-size: 1em;
  border-radius: 3rem;
  cursor: pointer;
  gap: 1em;
  border: none;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  width: 80vw;
  height: 50vh;
}

.projectsCard {
  display: flex;
  padding: 1.2em 1em;
  /* flex-direction: column;
  align-content: space-between;
  justify-content: space-between; */
  background-color: var(--card-colour);
  border-radius: var(--border-radius);
  flex-grow: 1;
}

.projectsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 1em;
}

.addIcon {
  height: 0.85em;
}

.addProjectButton:hover {
  background-color: var(--secondary-black);
}
